@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

* {
    background-color: #e8e8e8;
    font-family: "Inder", sans-serif;
    font-size: 400;
    font-style: normal;
    line-height: 150%;
    margin: 0;
    padding: 0;
}

.logo_alura {
    padding-top: 10px;
    width: 9%;
}

main {
    display: flex;
    margin: 48px;
    margin-left: 80px;
}

.text_area {
    margin: 60%;
    width: 735px;
    height: 150%;
    resize: none;
    display: flex;
    text-align: justify;
    font-weight: 400;
    line-height: 48px;
    font-size: 32px;
    font-family: "Inder", sans-serif;
    margin: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 0px;
    border-radius:22px;
    outline: 0;
    cursor: pointer;
}

.text__area::placeholder {
    color: #0A3871;
}

.text__area:focus {
    outline: none;
    text-align: left;
}

.mensagem {
    color: black;
    width: 400px;
    height: 615px;
    position: absolute;
    left: 940px;
    top: 10px;
    background-color:white;
    background-image: url(./assets/boneco.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    border-radius: 24px;
    border-color: #0A3871;
    margin-left: 98px;
    margin-top: 0px;
    padding-left: 20px;
    font-size: 32px;
    font-weight: 400;
    resize: none;
}

.mensagem::placeholder {
    color: #757FB2;
}

.requisitos {
    display: flex;
    height: 16px;
}

.exclamacao {
    margin-right: 8px;
}

.mensagem_requisitos {
    display: flex;
    align-items: center;
    font-weight: 400;
    text-align: justify;
    font-size: 14px;
}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn_desencriptar {
    color: #0A3871;
    width: 328px;
    height: 67px;
    position: absolute;
    margin-top: 54px;
    font-size: 16px;
    background-color: #E9ECF8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    margin-left: 400px;
    cursor: pointer;
}

.btn_encriptar {
    width: 328px;
    height: 67px;
    position: absolute;
    margin-top: 54px;
    font-size: 16px;
    background-color: #0A3871;
    color: white;
    border-radius: 24px;
    border: 1px solid #0A3871;
    cursor: pointer;
}

.mensagem_aviso {
    width: 336px;
    height: 58px;
    position: absolute;
    left: 985px;
    font-size: 16px;
    background-color: white;
    margin-left: 108px;
    margin-top: 380px;
    text-align: center;
}

.container_digite {
    width: 326px;
    height: 28px;
    position: absolute;
    left: 985px;
    font-size: 16px;
    background-color: white;
    color: #0A3871;
    margin-left: 108px;
    margin-top: 400px;
    text-align: center;
}

.btn_copiar {
    width: 329px;
    height: 29px;
    position: absolute;
    left: 990px;
    font-size: 16px;
    color: white;
    background-color: #0A3871;
    border-radius: 26px;
    border: 1px solid #0A3871;
    margin-left: 108px;
    margin-top: 460px;
    text-align: center;
    cursor: pointer;
}

.informacao {
    color: #495857;
    font-size: 18px;
}

.rodape {
    box-shadow: 0 -2px 10px #0A3871;
    color: #0A3871;
    font-weight: 400;
    justify-content: center;
    font-size: 1.0rem;
    margin-top: 330px;
    padding: 10px;
    text-align: center;
    width: 100%;
    height: 20px;
}